@font-face 
  font-family: 'Bebas'
  src: url(fonts\Bebas-Regular.otf), url(fonts\Bebas-Regular.ttf)
  font-size: 1em


$fill-col: #34648e

*, 
*:after,
*:before
  box-sizing: border-box

html
  align-items: center
  justify-content: center

form
  border: .5em solid #ebebeb
  background-color: #f8f8f8
  width: 18em

/** .radio
  font-size: 1.5em
  display: flex
  flex-direction: row

// .radio__input

/**   input
    opacity: 0
    width: 0
    height: 0
    
    &:checked + .radio__control
      background: radial-gradient(currentcolor , #0294bf)
 **/
/** .radio__label
  line-height: 1

/** .radio__control
  display: block
  width: 1.2em
  height: 1.2em
  border-radius: 50%
  border: 0.1em solid $fill-col **/

.radio__description
  float: right
  
.choice
  margin-bottom: 3em

select
  width: 5em
  margin: 3em


.finalPrice
  color: $fill-col 
  text-transform: bold

button 
  width: 14em
  height: 2.5em
  color: #fff
  background: green
  border-radius: 1.25em
  margin: 3em


.urchoice
  margin: 3em
  color: $fill-col